/*
Theme Name:     Flexbones Theme 4.0
Theme URI:      http://codebluegroup.co.uk/
Description:    A Responsive barebones theme to massively speed up development
Author:         Rory Ashford
Author URI:     http://roikles.com
Version:        4.0
License:		All work is the property of Rory Ashford
License URI:	n/a

CONTENTS

- Global
- Wordpress
- Typography
- Tables
- UI
- Mobile Header
- Page
- Navigation
- Header
- Footer
- Sidebar
- Blog
- Home

*/
/* Style Reset */
html, body, div, span, applet, object, iframe,
h1, h2, legend, h3, .exam-topic, h4, .sidebar h2, .sidebar legend, .sidebar-nav h2, .sidebar-nav legend, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  position: relative; }

.gridtacular {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10000;
  width: 55px;
  color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  font-family: Monaco, "Courier New", Courier, monospace; }
  .gridtacular li {
    display: block;
    padding: 10px; }
  .gridtacular a {
    display: block; }
  .gridtacular img {
    display: block; }

.gridtacular__width {
  background: #41bd89; }

.gridtacular__height {
  background: #2a4c5f; }

.gridtacular__width__bg {
  position: absolute;
  color: #33996e;
  font-size: 20px;
  font-weight: bold;
  text-align: center; }

.gridtacular__breakpoint {
  background: #d06857; }

.gridtacular__baseline-toggle {
  background: #b7c725; }

.gridtacular__grid-toggle {
  background: #41bdb6; }

.gridtacular__baseline-overlay {
  position: absolute;
  width: auto;
  overflow: hidden;
  z-index: 100;
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("images/baseline.png");
  background-size: 100% 1.5rem; }

.gridtacular__grid-overlay {
  position: absolute;
  width: auto;
  z-index: 100;
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .gridtacular__grid-overlay .col {
    border-left: 1px solid rgba(210, 210, 210, 0.5);
    border-right: 1px solid rgba(210, 210, 210, 0.5);
    width: 13.0434782609%;
    float: left;
    margin-right: 4.347826087%;
    display: inline;
    width: 6.3829787234%;
    float: left;
    margin-right: 2.1276595745%;
    display: inline; }
    .gridtacular__grid-overlay .col:nth-child(12) {
      width: 6.3829787234%;
      float: right;
      margin-right: 0;
      *margin-left: -20%;
      display: inline; }

/* -- _GLOBAL.SCSS -- */
/*
 * Document and Grid setup
 * Font default declarations
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clear {
  *zoom: 1; }
  .clear:before, .clear:after {
    content: "";
    display: table; }
  .clear:after {
    clear: both; }

img {
  max-width: 100%; }

html {
  font-size: 100%;
  line-height: 1.5rem; }

body {
  background: #cfdcdf;
  color: #3e3e3e;
  font-family: Arial, Helvetica, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

.wrapper {
  width: 1000px;
  margin: 0 auto;
  *zoom: 1; }
  .wrapper:before, .wrapper:after {
    content: "";
    display: table; }
  .wrapper:after {
    clear: both; }

/* -- _WORDPRESS.SCSS -- */
/*
 * Styles for Wordpress Specific Classes
 * Required if the theme is to go on the wp.org repo
 */
.alignleft {
  float: none;
  margin: 0 0 20px 0;
  display: block;
  float: left; }

.alignright {
  float: none;
  margin: 0 0 20px 0;
  display: block;
  float: right; }

.wp-caption {
  background: red; }

.wp-caption-text {
  color: #fff; }

.sticky {
  font-weight: bold; }

.gallery-caption {
  background: red; }

.bypostauthor {
  font-weight: bold; }

.aligncenter {
  margin: 0 auto; }

/* -- _TYPOGRAPHY.SCSS -- */
/*
 * All Font / Type styles go here
 */
a,
a:visited {
  color: #0c96dd;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: #0b86c5; }

p, h1, h2, legend, h3, .exam-topic, h4, .sidebar h2, .sidebar legend, .sidebar-nav h2, .sidebar-nav legend, h4, .sidebar h2, .sidebar legend, .sidebar-nav h2, .sidebar-nav legend, h5, h6, ul, ol {
  line-height: 1.5rem; }

h1, h2, legend, h3, .exam-topic, h4, .sidebar h2, .sidebar legend, .sidebar-nav h2, .sidebar-nav legend, h5, h6 {
  font-family: Arial, Helvetica, "Lucida Grande", sans-serif;
  font-weight: bold;
  color: #2f3c53;
  line-height: 1.5rem; }

p {
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 1.5rem; }

h1, .h1 {
  font-size: 3rem; }

h2, legend, .h2 {
  font-size: 1.375rem;
  margin-bottom: 1.5rem; }

h3, .exam-topic, .h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem; }

h4, .sidebar h2, .sidebar legend, .sidebar-nav h2, .sidebar-nav legend, .h4 {
  font-size: 1rem; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

ul {
  list-style-type: disc;
  font-size: 1rem;
  font-weight: normal;
  margin-left: 1.25rem;
  margin-bottom: 1.5rem; }
  ul li {
    color: #2f3c53;
    margin-bottom: 1.5rem; }
    ul li span {
      color: #3e3e3e; }

ol {
  list-style-type: decimal;
  font-size: 1rem;
  font-weight: normal;
  margin-left: 1.25rem;
  margin-bottom: 1.5rem; }
  ol li {
    margin-bottom: 1.5rem; }
    ol li span {
      color: #3e3e3e; }

blockquote {
  display: block;
  width: 40.7407407407%;
  float: right;
  margin-right: 0;
  *margin-left: -20%;
  display: inline;
  float: right;
  margin-left: 2.1276595745%;
  margin-bottom: 1.5rem; }
  blockquote p {
    font-size: 1.2;
    text-align: right;
    line-height: 1.5rem;
    font-style: italic;
    padding: 0 0.625rem;
    margin: 0; }

/* -- _TABLES.SCSS -- */
/*
 * All Font / Type styles go here
 */
table {
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 1.5rem;
  font-size: 1rem; }
  table br {
    display: none; }

thead {
  background: #0c96dd;
  color: #fff; }

tbody tr:nth-child(odd) {
  background: #f1f1f1; }

tbody tr:nth-child(even) {
  background: #FFF; }

th, td {
  height: 1.5rem;
  padding: 0 0.625rem; }

th {
  font-weight: bold;
  height: 3rem;
  font-family: Arial, Helvetica, "Lucida Grande", sans-serif;
  font-size: 1rem; }

.pmpro_checkout td {
  height: 3rem; }

/* -- UI -- */
/*
 * forms, buttons, icons, breadcrumbs, pagination
 */
input:focus {
  outline: none; }

fieldset div {
  *zoom: 1; }
  fieldset div:before, fieldset div:after {
    content: "";
    display: table; }
  fieldset div:after {
    clear: both; }

label {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  display: block;
  width: 22.5806451613%;
  float: left;
  margin-right: 3.2258064516%;
  display: inline; }

input[type="text"], input[type="password"] {
  border: 1px solid #ccc;
  height: 1.5rem;
  margin-bottom: 1.5rem;
  display: block; }

textarea {
  border: 1px solid #ccc;
  line-height: 1.5rem;
  height: 6rem;
  margin-bottom: 1.5rem;
  display: block;
  width: 48.3870967742%;
  float: left;
  margin-right: 3.2258064516%;
  display: inline; }

.input[type="radio"] {
  float: left; }

.button, .pmpro_btn, input[type="submit"] {
  background: #0c96dd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0c96dd), color-stop(100%, #08699c));
  background-image: -webkit-linear-gradient(#0c96dd, #08699c);
  background-image: -moz-linear-gradient(#0c96dd, #08699c);
  background-image: -o-linear-gradient(#0c96dd, #08699c);
  background-image: linear-gradient(#0c96dd, #08699c);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 0 1.5rem;
  line-height: 3rem;
  display: block;
  font-size: 1rem;
  font-family: Arial, Helvetica, "Lucida Grande", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #fff;
  border: 0;
  text-shadow: none; }
  .button:hover, .pmpro_btn:hover, input[type="submit"]:hover {
    background: #10a5f2;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #10a5f2), color-stop(100%, #0979b4));
    background-image: -webkit-linear-gradient(#10a5f2, #0979b4);
    background-image: -moz-linear-gradient(#10a5f2, #0979b4);
    background-image: -o-linear-gradient(#10a5f2, #0979b4);
    background-image: linear-gradient(#10a5f2, #0979b4);
    color: #fff; }
  .button:active, .pmpro_btn:active, input[type="submit"]:active {
    background: #08699c;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #08699c), color-stop(100%, #0c96dd));
    background-image: -webkit-linear-gradient(#08699c, #0c96dd);
    background-image: -moz-linear-gradient(#08699c, #0c96dd);
    background-image: -o-linear-gradient(#08699c, #0c96dd);
    background-image: linear-gradient(#08699c, #0c96dd);
    color: #fff; }
  .button:visited, .pmpro_btn:visited, input[type="submit"]:visited {
    color: #fff; }

input[type="submit"] {
  border: none;
  height: 3rem;
  display: block;
  margin-bottom: 1.5rem; }

.button--small, .pmpro_btn {
  line-height: 1.5rem;
  height: 1.5rem;
  padding: 0 10px; }

input[type="submit"] {
  border: none;
  height: 3rem;
  display: block; }

.search-form {
  *zoom: 1; }
  .search-form:before, .search-form:after {
    content: "";
    display: table; }
  .search-form:after {
    clear: both; }

.search-input {
  width: 63.6363636364%;
  float: left;
  margin-right: 9.0909090909%;
  display: inline; }

.search-button {
  width: 27.2727272727%;
  float: right;
  margin-right: 0;
  *margin-left: -20%;
  display: inline;
  font-size: 1rem; }

ul.bjqs {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: none; }

li.bjqs-slide {
  position: absolute;
  display: none; }

ul.bjqs-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 9999; }

ul.bjqs-controls.v-centered li a {
  position: absolute; }

ul.bjqs-controls.v-centered li.bjqs-next a {
  right: 0; }

ul.bjqs-controls.v-centered li.bjqs-prev a {
  left: 0; }

ol.bjqs-markers {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; }

ol.bjqs-markers.h-centered {
  text-align: center; }

ol.bjqs-markers li {
  display: inline; }

ol.bjqs-markers li a {
  display: inline-block; }

p.bjqs-caption {
  display: block;
  width: 96%;
  margin: 0;
  padding: 2%;
  position: absolute;
  bottom: 0; }

.progress-meter {
  background: #666666;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #404040), color-stop(100%, #666666));
  background-image: -webkit-linear-gradient(#404040, #666666);
  background-image: -moz-linear-gradient(#404040, #666666);
  background-image: -o-linear-gradient(#404040, #666666);
  background-image: linear-gradient(#404040, #666666);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  width: 4.5rem;
  height: 14px;
  padding: 2px; }

.progress-meter__bar {
  background: #0c96dd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0c96dd), color-stop(100%, #08699c));
  background-image: -webkit-linear-gradient(#0c96dd, #08699c);
  background-image: -moz-linear-gradient(#0c96dd, #08699c);
  background-image: -o-linear-gradient(#0c96dd, #08699c);
  background-image: linear-gradient(#0c96dd, #08699c);
  height: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

/* -- _PAGE.SCSS -- */
/*
 * Styles for Wordpress Pages
 * Includes styles for for specific page templates
 */
.content {
  *zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  margin-bottom: 1.5rem;
  border: 1px solid #c2cacd; }
  .content:before, .content:after {
    content: "";
    display: table; }
  .content:after {
    clear: both; }

.content__heading {
  background: #e8eff2;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  padding: 0 1.5rem; }
  .content__heading h1, .content__heading h2, .content__heading legend, .content__heading h3, .content__heading .exam-topic {
    line-height: 3rem; }

.content__heading--multiline {
  padding: 1.5rem; }
  .content__heading--multiline h1, .content__heading--multiline h2, .content__heading--multiline legend, .content__heading--multiline h3, .content__heading--multiline .exam-topic {
    line-height: 1.5rem;
    margin: 0; }

.content__main {
  padding: 0 1.5rem;
  *zoom: 1; }
  .content__main p {
    font-size: 0.85rem; }
  .content__main:before, .content__main:after {
    content: "";
    display: table; }
  .content__main:after {
    clear: both; }

.content-archive,
.content-single {
  width: 57.4468085106%;
  float: left;
  margin-right: 2.1276595745%;
  display: inline; }

.content-lesson {
  width: 82.9787234043%;
  float: right;
  margin-right: 0;
  *margin-left: -20%;
  display: inline; }

.content-taxonomy-archive {
  width: 82.9787234043%;
  float: right;
  margin-right: 0;
  *margin-left: -20%;
  display: inline; }

.content-modules {
  width: 82.9787234043%;
  float: right;
  margin-right: 0;
  *margin-left: -20%;
  display: inline; }

.main-article__title {
  margin: 0; }

.button--module {
  margin-bottom: 1.5rem;
  width: 48.9361702128%;
  float: left;
  margin-right: 2.1276595745%;
  display: inline; }
  .button--module:nth-child(2n) {
    width: 48.9361702128%;
    float: right;
    margin-right: 0;
    *margin-left: -20%;
    display: inline; }

.button--top-module {
  margin-bottom: 1.5rem; }

.accordion__header {
  cursor: pointer;
  *zoom: 1; }
  .accordion__header:focus {
    outline: none; }
  .accordion__header:before, .accordion__header:after {
    content: "";
    display: table; }
  .accordion__header:after {
    clear: both; }

.accordion__title {
  display: block;
  width: 85.1851851852%;
  float: left;
  margin-right: 3.7037037037%;
  display: inline; }

.accordion__button-con {
  width: 11.1111111111%;
  float: right;
  margin-right: 0;
  *margin-left: -20%;
  display: inline; }

.accordion__button-con .button, .accordion__button-con .pmpro_btn {
  width: 28px;
  text-align: center;
  padding: 0; }
  .accordion__button-con .button:after, .accordion__button-con .pmpro_btn:after {
    content: "+"; }

.ui-accordion-header-active .button, .ui-accordion-header-active .pmpro_btn {
  width: 28px;
  text-align: center;
  padding: 0; }
  .ui-accordion-header-active .button:after, .ui-accordion-header-active .pmpro_btn:after {
    content: "-"; }

.module-button {
  margin-bottom: 1.5rem;
  border: 1px solid #a6a6a6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.module-button__title {
  background: #0c96dd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0c96dd), color-stop(100%, #08699c));
  background-image: -webkit-linear-gradient(#0c96dd, #08699c);
  background-image: -moz-linear-gradient(#0c96dd, #08699c);
  background-image: -o-linear-gradient(#0c96dd, #08699c);
  background-image: linear-gradient(#0c96dd, #08699c);
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 1.5rem;
  line-height: 3rem;
  display: block;
  font-size: 1rem;
  font-family: Arial, Helvetica, "Lucida Grande", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #fff;
  border: 0; }
  .module-button__title:hover {
    background: #10a5f2;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #10a5f2), color-stop(100%, #0979b4));
    background-image: -webkit-linear-gradient(#10a5f2, #0979b4);
    background-image: -moz-linear-gradient(#10a5f2, #0979b4);
    background-image: -o-linear-gradient(#10a5f2, #0979b4);
    background-image: linear-gradient(#10a5f2, #0979b4);
    color: #fff; }
  .module-button__title:active {
    background: #08699c;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #08699c), color-stop(100%, #0c96dd));
    background-image: -webkit-linear-gradient(#08699c, #0c96dd);
    background-image: -moz-linear-gradient(#08699c, #0c96dd);
    background-image: -o-linear-gradient(#08699c, #0c96dd);
    background-image: linear-gradient(#08699c, #0c96dd);
    color: #fff; }
  .module-button__title:visited {
    color: #fff; }

.module-button__stats {
  background: #ccc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b3b3b3), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#b3b3b3, #cccccc);
  background-image: -moz-linear-gradient(#b3b3b3, #cccccc);
  background-image: -o-linear-gradient(#b3b3b3, #cccccc);
  background-image: linear-gradient(#b3b3b3, #cccccc);
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0 0.75rem;
  line-height: 1.5rem;
  display: block;
  font-size: 0.75rem;
  font-family: Arial, Helvetica, "Lucida Grande", sans-serif;
  font-weight: bold;
  color: #fff; }

.module-button__completion {
  float: right; }
  .module-button__completion span {
    display: block;
    float: left; }
  .module-button__completion .progress-meter {
    float: right;
    margin: 5px 0 0 10px; }

.read-article {
  background: linear-gradient(#009651, #006335); }
  .read-article:hover {
    background: linear-gradient(#00b05f, #007d43); }

.webinar {
  margin-bottom: 1.5rem; }

/**
 * Template specific styling:-
 *
 * Orthopaedics
 */
.orth-cat {
  width: 100%;
  float: left;
  margin-right: 2.1276595745%;
  display: inline;
  *zoom: 1; }
  .orth-cat:before, .orth-cat:after {
    content: "";
    display: table; }
  .orth-cat:after {
    clear: both; }

.orth-center {
  width: 100%;
  float: left;
  margin-right: 2.1276595745%;
  display: inline; }

.orth-bottom {
  margin-top: 1.5rem; }

.orth-subheading {
  padding: 0.625rem;
  display: block;
  width: 100%;
  float: left;
  margin-right: 2.1276595745%;
  display: inline;
  *zoom: 1; }
  .orth-subheading:before, .orth-subheading:after {
    content: "";
    display: table; }
  .orth-subheading:after {
    clear: both; }

/**
 * Expert Directory Page
 */
.expert-search {
  width: 100%;
  float: left;
  margin-right: 2.1276595745%;
  display: inline; }

.expert-search__box {
  width: 31.914893617%;
  float: left;
  margin-right: 2.1276595745%;
  display: inline; }

.expert-search__box--last {
  width: 31.914893617%;
  float: right;
  margin-right: 0;
  *margin-left: -20%;
  display: inline; }

.expert-search .search-input {
  padding-left: 0.75rem; }

.expert-search .search-button {
  padding: 0;
  height: 1.5rem;
  line-height: 1.5rem; }

/* -- _NAVIGATION.SCSS -- */
/*
 * All nav menu styles go here
 * Currently the Dropdown only supports 1 level
 * This can be extended by using the class .parent-x (where x is the depth).
 */
.primary-nav {
  display: none;
  height: 3rem;
  display: block;
  background: #0c96dd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0c96dd), color-stop(100%, #08699c));
  background-image: -webkit-linear-gradient(#0c96dd, #08699c);
  background-image: -moz-linear-gradient(#0c96dd, #08699c);
  background-image: -o-linear-gradient(#0c96dd, #08699c);
  background-image: linear-gradient(#0c96dd, #08699c); }

.primary-nav__menu {
  list-style: none;
  *zoom: 1;
  font-family: Arial, Helvetica, "Lucida Grande", sans-serif;
  margin: 0 auto; }
  .primary-nav__menu:before, .primary-nav__menu:after {
    content: "";
    display: table; }
  .primary-nav__menu:after {
    clear: both; }

.primary-nav__menu > .menu-item {
  float: left;
  margin: 0 0.375rem;
  display: inline; }

.primary-nav__menu > .menu-item > a {
  font-size: 1rem;
  display: block;
  color: #fff;
  padding: 0 1.25rem;
  font-weight: 700;
  line-height: 2.4rem;
  margin-top: 0.6rem;
  height: 2.4rem; }

.primary-nav__menu > .menu-item:hover > a,
.primary-nav__menu > .menu-item:hover > a:visited {
  background: #0c96dd;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #fff; }

.primary-nav__menu > .current-menu-item a,
.primary-nav__menu > .current-menu-item a:visited,
.primary-nav__menu > .current-menu-ancestor a,
.primary-nav__menu > .current-menu-ancestor a:visited,
.primary-nav__menu > .current-post-parent a,
.primary-nav__menu > .current-post-parent a:visited {
  background: #0c96dd;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #fff; }

.primary-nav__menu .parent {
  position: relative; }

.primary-nav__menu .parent > .sub-menu {
  display: none;
  list-style: none;
  margin: 0;
  text-align: left; }

.primary-nav__menu .parent:hover > .sub-menu {
  display: block;
  z-index: 100;
  width: 300px; }

.primary-nav__menu .sub-menu {
  position: absolute;
  background: #0c96dd;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.primary-nav__menu .sub-menu .menu-item {
  margin: 0; }

.primary-nav__menu .sub-menu .menu-item a,
.primary-nav__menu .sub-menu .menu-item a:visited {
  display: block;
  color: #fff;
  padding: 0 1.25rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 3rem; }
  .primary-nav__menu .sub-menu .menu-item a:hover,
  .primary-nav__menu .sub-menu .menu-item a:visited:hover {
    background: #0b86c5;
    margin: 0;
    color: #fff; }

.primary-nav__menu .sub-menu > .current-menu-item a,
.primary-nav__menu .sub-menu > .current-menu-item a:visited,
.primary-nav__menu .sub-menu > .current-menu-ancestor a,
.primary-nav__menu .sub-menu > .current-menu-ancestor a:visited {
  color: #fff;
  background: #0b86c5;
  font-weight: bold; }

/* -- _HEADER.SCSS -- */
/*
 * Header specific declarations
 * Note: navigation has its own document _navigation.scss
 */
.site-header__logo {
  display: block;
  height: 7.5rem;
  margin: 1.5rem 0;
  width: 23.4042553191%;
  float: left;
  margin-right: 2.1276595745%;
  display: inline; }
  .site-header__logo img {
    display: block; }

.site-header__search {
  float: right;
  width: 31.914893617%;
  float: right;
  margin-right: 0;
  *margin-left: -20%;
  display: inline;
  margin-left: 42.5531914894%;
  margin: 6rem 0 1.5rem 0; }

.site-header__search .search-input {
  height: 3rem;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 0;
  padding: 0 1.5rem;
  font-size: 0.875rem;
  font-family: Arial, Helvetica, "Lucida Grande", sans-serif;
  margin: 0;
  width: 75%; }

.site-header__search .search-button {
  height: 3rem;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 0;
  width: 25%; }

.breadcrumbs {
  line-height: 3rem;
  height: 3rem; }
  .breadcrumbs a {
    font-weight: bold; }

.breadcrumbs--home {
  height: 1.5rem; }

/* -- _FOOTER.SCSS -- */
/*
 * Footer Styles go here
 */
.site-footer {
  color: #fff;
  margin: 0 0 1.5rem 0; }
  .site-footer .wrapper {
    background: #2f3c53;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 0 1.5rem; }

.footer-nav__menu {
  margin: 0; }
  .footer-nav__menu li {
    float: left;
    list-style: none;
    margin: 0 1.5rem 0 0;
    line-height: 3rem; }

/* -- SIDEBAR.SCSS -- */
/*
 * All sidebar(s) style here
 */
.sidebar, .sidebar-nav {
  width: 23.4042553191%;
  float: right;
  margin-right: 0;
  *margin-left: -20%;
  display: inline; }
  .sidebar h2, .sidebar legend, .sidebar-nav h2, .sidebar-nav legend {
    margin-bottom: 0; }
  .sidebar ul li, .sidebar-nav ul li {
    list-style: none;
    font-size: 0.75rem; }

.sidebar-help {
  width: 14.8936170213%;
  float: left;
  margin-right: 2.1276595745%;
  display: inline; }

.help-button {
  position: relative;
  margin-bottom: 1.5rem; }
  .help-button img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
  .help-button figcaption {
    background: #2f3c53;
    display: block;
    position: absolute;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff; }
    .help-button figcaption p {
      font-weight: 700;
      padding: 5px;
      margin: 0; }

.section-sidebar {
  margin-left: 0; }

.section-sidebar li {
  margin-bottom: 0; }

/* -- _BLOG.SCSS -- */
/*
 * All blog/news styles go here
 * Archives and single article styles
 */
.article-date {
  text-align: center; }

.article-meta {
  *zoom: 1;
  max-width: 940%;
  _width: 940%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center; }
  .article-meta:after {
    content: "";
    display: table;
    clear: both; }

.article-meta__time {
  display: inline;
  line-height: 3rem; }

.article-meta__author {
  line-height: 3rem; }

/* -- _HOME.SCSS -- */
/*
 * Homepage Specific Styles
 */
.slider {
  width: 65.9574468085%;
  float: left;
  margin-right: 2.1276595745%;
  display: inline;
  height: 22.5rem;
  margin-bottom: 1.5rem;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.slider__image {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.slider__caption {
  background: rgba(32, 40, 46, 0.7);
  *zoom: 1;
  position: absolute;
  bottom: 0;
  padding: 1.5rem;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; }
  .slider__caption:before, .slider__caption:after {
    content: "";
    display: table; }
  .slider__caption:after {
    clear: both; }

.slider__caption__text {
  width: 70%;
  margin: 0 5% 0 0;
  float: left;
  color: #fff;
  font-weight: 700; }

.slider__caption__button {
  width: 25%;
  float: right; }

.news-home {
  width: 31.914893617%;
  float: right;
  margin-right: 0;
  *margin-left: -20%;
  display: inline;
  height: 22.5rem; }
  .news-home p {
    font-size: 0.85rem;
    margin: 0; }

.news-snippet {
  margin-bottom: 1.5rem; }

/* -- _EXAMINATION.SCSS -- */
/*
 * Styles for specific examination elements
 * 
*/
.exam-form th {
  font-size: 1.3rem;
  background: #462069; }
.exam-form td, .exam-form th {
  padding: 10px 20px; }
.exam-form tbody tr {
  background: white; }
.exam-form label {
  margin-bottom: 0; }

.single-exam {
  border-collapse: collapse;
  border: none; }

.truefalse {
  text-align: right; }

.question-row {
  border: 1px solid #eee;
  border-left: 0;
  border-right: 0; }
  .question-row:hover {
    background: #eaf7fe; }

.answer input {
  visibility: hidden;
  position: absolute;
  right: 0; }

.answer-radio {
  display: inline;
  float: right;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: url("images/exam-check.png");
  background-repeat: no-repeat;
  display: block;
  width: 30px;
  height: 30px; }

.answer-true {
  background: url("images/exam-check.png") #ddf7e8 top left no-repeat; }

.answer-false {
  background: url("images/exam-check.png") #ffe8e9 top right no-repeat; }

.check-true:checked + .answer-true {
  background-color: #2dc16c; }

.check-false:checked + .answer-false {
  background-color: #ff4f55; }

.exam-link {
  padding: 0 20px;
  width: 100%; }
  .exam-link form input, .exam-link p {
    font-size: 1.6rem; }
  .exam-link form input:hover {
    cursor: pointer; }
  .exam-link .active-exam {
    background: #462069;
    width: 100%;
    color: white;
    line-height: 3rem; }
    .exam-link .active-exam:hover {
      background: #53267d; }
    .exam-link .active-exam:visited, .exam-link .active-exam:active {
      color: white; }
  .exam-link .inactive-exam {
    padding-left: 20px;
    text-align: center;
    background: #e6e6e6;
    width: 100%;
    color: #462069;
    line-height: 3rem; }
    .exam-link .inactive-exam:visited, .exam-link .inactive-exam:active {
      color: #462069; }

.score {
  *zoom: 1;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin-bottom: 1.5rem;
  padding: 3rem 1.5rem;
  background: #eee; }
  .score:before, .score:after {
    content: "";
    display: table; }
  .score:after {
    clear: both; }
  .score h3, .score .exam-topic {
    font-size: 2rem !important;
    font-weight: bold;
    line-height: 3rem; }

.score__result {
  margin-top: 10%; }
  .score__result p {
    font-size: 1.2rem;
    line-height: 2rem; }

.score__answers {
  display: block;
  margin-bottom: 1.5rem; }

.score__percent {
  width: 40.4255319149%;
  float: left;
  margin-right: 2.1276595745%;
  display: inline;
  *zoom: 1; }
  .score__percent p {
    margin-bottom: 1.5rem;
    text-align: center; }
  .score__percent:before, .score__percent:after {
    content: "";
    display: table; }
  .score__percent:after {
    clear: both; }

.pie-wrapper {
  padding-left: 1.5rem;
  *zoom: 1; }
  .pie-wrapper:before, .pie-wrapper:after {
    content: "";
    display: table; }
  .pie-wrapper:after {
    clear: both; }

.pie-percent {
  vertical-align: top;
  vertical-baseline: top !important;
  font-size: 1.2rem; }

.percent-needed {
  color: #b3b3b3;
  line-height: 2rem;
  width: 100%;
  font-weight: 200;
  text-align: center; }

.retake-exam {
  float: right; }

.completed-exam:before {
  content: "\2713 - "; }

.rect-auto, .c100.p51 .slice, .c100.p52 .slice, .c100.p53 .slice, .c100.p54 .slice, .c100.p55 .slice, .c100.p56 .slice, .c100.p57 .slice, .c100.p58 .slice, .c100.p59 .slice, .c100.p60 .slice, .c100.p61 .slice, .c100.p62 .slice, .c100.p63 .slice, .c100.p64 .slice, .c100.p65 .slice, .c100.p66 .slice, .c100.p67 .slice, .c100.p68 .slice, .c100.p69 .slice, .c100.p70 .slice, .c100.p71 .slice, .c100.p72 .slice, .c100.p73 .slice, .c100.p74 .slice, .c100.p75 .slice, .c100.p76 .slice, .c100.p77 .slice, .c100.p78 .slice, .c100.p79 .slice, .c100.p80 .slice, .c100.p81 .slice, .c100.p82 .slice, .c100.p83 .slice, .c100.p84 .slice, .c100.p85 .slice, .c100.p86 .slice, .c100.p87 .slice, .c100.p88 .slice, .c100.p89 .slice, .c100.p90 .slice, .c100.p91 .slice, .c100.p92 .slice, .c100.p93 .slice, .c100.p94 .slice, .c100.p95 .slice, .c100.p96 .slice, .c100.p97 .slice, .c100.p98 .slice, .c100.p99 .slice, .c100.p100 .slice {
  clip: rect(auto, auto, auto, auto); }

.pie, .c100 .pie-bar, .c100.p51 .pie-fill, .c100.p52 .pie-fill, .c100.p53 .pie-fill, .c100.p54 .pie-fill, .c100.p55 .pie-fill, .c100.p56 .pie-fill, .c100.p57 .pie-fill, .c100.p58 .pie-fill, .c100.p59 .pie-fill, .c100.p60 .pie-fill, .c100.p61 .pie-fill, .c100.p62 .pie-fill, .c100.p63 .pie-fill, .c100.p64 .pie-fill, .c100.p65 .pie-fill, .c100.p66 .pie-fill, .c100.p67 .pie-fill, .c100.p68 .pie-fill, .c100.p69 .pie-fill, .c100.p70 .pie-fill, .c100.p71 .pie-fill, .c100.p72 .pie-fill, .c100.p73 .pie-fill, .c100.p74 .pie-fill, .c100.p75 .pie-fill, .c100.p76 .pie-fill, .c100.p77 .pie-fill, .c100.p78 .pie-fill, .c100.p79 .pie-fill, .c100.p80 .pie-fill, .c100.p81 .pie-fill, .c100.p82 .pie-fill, .c100.p83 .pie-fill, .c100.p84 .pie-fill, .c100.p85 .pie-fill, .c100.p86 .pie-fill, .c100.p87 .pie-fill, .c100.p88 .pie-fill, .c100.p89 .pie-fill, .c100.p90 .pie-fill, .c100.p91 .pie-fill, .c100.p92 .pie-fill, .c100.p93 .pie-fill, .c100.p94 .pie-fill, .c100.p95 .pie-fill, .c100.p96 .pie-fill, .c100.p97 .pie-fill, .c100.p98 .pie-fill, .c100.p99 .pie-fill, .c100.p100 .pie-fill {
  position: absolute;
  border: 0.08em solid #307bbb;
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg); }

.pie-pie-fill, .c100.p51 .pie-bar:after, .c100.p51 .pie-fill, .c100.p52 .pie-bar:after, .c100.p52 .pie-fill, .c100.p53 .pie-bar:after, .c100.p53 .pie-fill, .c100.p54 .pie-bar:after, .c100.p54 .pie-fill, .c100.p55 .pie-bar:after, .c100.p55 .pie-fill, .c100.p56 .pie-bar:after, .c100.p56 .pie-fill, .c100.p57 .pie-bar:after, .c100.p57 .pie-fill, .c100.p58 .pie-bar:after, .c100.p58 .pie-fill, .c100.p59 .pie-bar:after, .c100.p59 .pie-fill, .c100.p60 .pie-bar:after, .c100.p60 .pie-fill, .c100.p61 .pie-bar:after, .c100.p61 .pie-fill, .c100.p62 .pie-bar:after, .c100.p62 .pie-fill, .c100.p63 .pie-bar:after, .c100.p63 .pie-fill, .c100.p64 .pie-bar:after, .c100.p64 .pie-fill, .c100.p65 .pie-bar:after, .c100.p65 .pie-fill, .c100.p66 .pie-bar:after, .c100.p66 .pie-fill, .c100.p67 .pie-bar:after, .c100.p67 .pie-fill, .c100.p68 .pie-bar:after, .c100.p68 .pie-fill, .c100.p69 .pie-bar:after, .c100.p69 .pie-fill, .c100.p70 .pie-bar:after, .c100.p70 .pie-fill, .c100.p71 .pie-bar:after, .c100.p71 .pie-fill, .c100.p72 .pie-bar:after, .c100.p72 .pie-fill, .c100.p73 .pie-bar:after, .c100.p73 .pie-fill, .c100.p74 .pie-bar:after, .c100.p74 .pie-fill, .c100.p75 .pie-bar:after, .c100.p75 .pie-fill, .c100.p76 .pie-bar:after, .c100.p76 .pie-fill, .c100.p77 .pie-bar:after, .c100.p77 .pie-fill, .c100.p78 .pie-bar:after, .c100.p78 .pie-fill, .c100.p79 .pie-bar:after, .c100.p79 .pie-fill, .c100.p80 .pie-bar:after, .c100.p80 .pie-fill, .c100.p81 .pie-bar:after, .c100.p81 .pie-fill, .c100.p82 .pie-bar:after, .c100.p82 .pie-fill, .c100.p83 .pie-bar:after, .c100.p83 .pie-fill, .c100.p84 .pie-bar:after, .c100.p84 .pie-fill, .c100.p85 .pie-bar:after, .c100.p85 .pie-fill, .c100.p86 .pie-bar:after, .c100.p86 .pie-fill, .c100.p87 .pie-bar:after, .c100.p87 .pie-fill, .c100.p88 .pie-bar:after, .c100.p88 .pie-fill, .c100.p89 .pie-bar:after, .c100.p89 .pie-fill, .c100.p90 .pie-bar:after, .c100.p90 .pie-fill, .c100.p91 .pie-bar:after, .c100.p91 .pie-fill, .c100.p92 .pie-bar:after, .c100.p92 .pie-fill, .c100.p93 .pie-bar:after, .c100.p93 .pie-fill, .c100.p94 .pie-bar:after, .c100.p94 .pie-fill, .c100.p95 .pie-bar:after, .c100.p95 .pie-fill, .c100.p96 .pie-bar:after, .c100.p96 .pie-fill, .c100.p97 .pie-bar:after, .c100.p97 .pie-fill, .c100.p98 .pie-bar:after, .c100.p98 .pie-fill, .c100.p99 .pie-bar:after, .c100.p99 .pie-fill, .c100.p100 .pie-bar:after, .c100.p100 .pie-fill {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.c100 {
  position: relative;
  font-size: 120px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  float: left;
  margin: 0 0.1em 0.1em 0;
  background-color: #cccccc; }
  .c100 *, .c100 *:before, .c100 *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
  .c100.center {
    float: none;
    margin: 0 auto; }
  .c100.big {
    font-size: 240px; }
  .c100.small {
    font-size: 80px; }
  .c100 .pie-label {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    width: 5em;
    line-height: 5em;
    font-size: 0.2em;
    display: block;
    text-align: center;
    white-space: nowrap;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .c100:after {
    position: absolute;
    top: 0.08em;
    left: 0.08em;
    display: block;
    content: " ";
    border-radius: 50%;
    background-color: whitesmoke;
    width: 0.84em;
    height: 0.84em;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  .c100 .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em); }
  .c100.p1 .pie-bar {
    -webkit-transform: rotate(3.6deg);
    -moz-transform: rotate(3.6deg);
    -ms-transform: rotate(3.6deg);
    -o-transform: rotate(3.6deg);
    transform: rotate(3.6deg); }
  .c100.p2 .pie-bar {
    -webkit-transform: rotate(7.2deg);
    -moz-transform: rotate(7.2deg);
    -ms-transform: rotate(7.2deg);
    -o-transform: rotate(7.2deg);
    transform: rotate(7.2deg); }
  .c100.p3 .pie-bar {
    -webkit-transform: rotate(10.8deg);
    -moz-transform: rotate(10.8deg);
    -ms-transform: rotate(10.8deg);
    -o-transform: rotate(10.8deg);
    transform: rotate(10.8deg); }
  .c100.p4 .pie-bar {
    -webkit-transform: rotate(14.4deg);
    -moz-transform: rotate(14.4deg);
    -ms-transform: rotate(14.4deg);
    -o-transform: rotate(14.4deg);
    transform: rotate(14.4deg); }
  .c100.p5 .pie-bar {
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    -o-transform: rotate(18deg);
    transform: rotate(18deg); }
  .c100.p6 .pie-bar {
    -webkit-transform: rotate(21.6deg);
    -moz-transform: rotate(21.6deg);
    -ms-transform: rotate(21.6deg);
    -o-transform: rotate(21.6deg);
    transform: rotate(21.6deg); }
  .c100.p7 .pie-bar {
    -webkit-transform: rotate(25.2deg);
    -moz-transform: rotate(25.2deg);
    -ms-transform: rotate(25.2deg);
    -o-transform: rotate(25.2deg);
    transform: rotate(25.2deg); }
  .c100.p8 .pie-bar {
    -webkit-transform: rotate(28.8deg);
    -moz-transform: rotate(28.8deg);
    -ms-transform: rotate(28.8deg);
    -o-transform: rotate(28.8deg);
    transform: rotate(28.8deg); }
  .c100.p9 .pie-bar {
    -webkit-transform: rotate(32.4deg);
    -moz-transform: rotate(32.4deg);
    -ms-transform: rotate(32.4deg);
    -o-transform: rotate(32.4deg);
    transform: rotate(32.4deg); }
  .c100.p10 .pie-bar {
    -webkit-transform: rotate(36deg);
    -moz-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    -o-transform: rotate(36deg);
    transform: rotate(36deg); }
  .c100.p11 .pie-bar {
    -webkit-transform: rotate(39.6deg);
    -moz-transform: rotate(39.6deg);
    -ms-transform: rotate(39.6deg);
    -o-transform: rotate(39.6deg);
    transform: rotate(39.6deg); }
  .c100.p12 .pie-bar {
    -webkit-transform: rotate(43.2deg);
    -moz-transform: rotate(43.2deg);
    -ms-transform: rotate(43.2deg);
    -o-transform: rotate(43.2deg);
    transform: rotate(43.2deg); }
  .c100.p13 .pie-bar {
    -webkit-transform: rotate(46.8deg);
    -moz-transform: rotate(46.8deg);
    -ms-transform: rotate(46.8deg);
    -o-transform: rotate(46.8deg);
    transform: rotate(46.8deg); }
  .c100.p14 .pie-bar {
    -webkit-transform: rotate(50.4deg);
    -moz-transform: rotate(50.4deg);
    -ms-transform: rotate(50.4deg);
    -o-transform: rotate(50.4deg);
    transform: rotate(50.4deg); }
  .c100.p15 .pie-bar {
    -webkit-transform: rotate(54deg);
    -moz-transform: rotate(54deg);
    -ms-transform: rotate(54deg);
    -o-transform: rotate(54deg);
    transform: rotate(54deg); }
  .c100.p16 .pie-bar {
    -webkit-transform: rotate(57.6deg);
    -moz-transform: rotate(57.6deg);
    -ms-transform: rotate(57.6deg);
    -o-transform: rotate(57.6deg);
    transform: rotate(57.6deg); }
  .c100.p17 .pie-bar {
    -webkit-transform: rotate(61.2deg);
    -moz-transform: rotate(61.2deg);
    -ms-transform: rotate(61.2deg);
    -o-transform: rotate(61.2deg);
    transform: rotate(61.2deg); }
  .c100.p18 .pie-bar {
    -webkit-transform: rotate(64.8deg);
    -moz-transform: rotate(64.8deg);
    -ms-transform: rotate(64.8deg);
    -o-transform: rotate(64.8deg);
    transform: rotate(64.8deg); }
  .c100.p19 .pie-bar {
    -webkit-transform: rotate(68.4deg);
    -moz-transform: rotate(68.4deg);
    -ms-transform: rotate(68.4deg);
    -o-transform: rotate(68.4deg);
    transform: rotate(68.4deg); }
  .c100.p20 .pie-bar {
    -webkit-transform: rotate(72deg);
    -moz-transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    -o-transform: rotate(72deg);
    transform: rotate(72deg); }
  .c100.p21 .pie-bar {
    -webkit-transform: rotate(75.6deg);
    -moz-transform: rotate(75.6deg);
    -ms-transform: rotate(75.6deg);
    -o-transform: rotate(75.6deg);
    transform: rotate(75.6deg); }
  .c100.p22 .pie-bar {
    -webkit-transform: rotate(79.2deg);
    -moz-transform: rotate(79.2deg);
    -ms-transform: rotate(79.2deg);
    -o-transform: rotate(79.2deg);
    transform: rotate(79.2deg); }
  .c100.p23 .pie-bar {
    -webkit-transform: rotate(82.8deg);
    -moz-transform: rotate(82.8deg);
    -ms-transform: rotate(82.8deg);
    -o-transform: rotate(82.8deg);
    transform: rotate(82.8deg); }
  .c100.p24 .pie-bar {
    -webkit-transform: rotate(86.4deg);
    -moz-transform: rotate(86.4deg);
    -ms-transform: rotate(86.4deg);
    -o-transform: rotate(86.4deg);
    transform: rotate(86.4deg); }
  .c100.p25 .pie-bar {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
  .c100.p26 .pie-bar {
    -webkit-transform: rotate(93.6deg);
    -moz-transform: rotate(93.6deg);
    -ms-transform: rotate(93.6deg);
    -o-transform: rotate(93.6deg);
    transform: rotate(93.6deg); }
  .c100.p27 .pie-bar {
    -webkit-transform: rotate(97.2deg);
    -moz-transform: rotate(97.2deg);
    -ms-transform: rotate(97.2deg);
    -o-transform: rotate(97.2deg);
    transform: rotate(97.2deg); }
  .c100.p28 .pie-bar {
    -webkit-transform: rotate(100.8deg);
    -moz-transform: rotate(100.8deg);
    -ms-transform: rotate(100.8deg);
    -o-transform: rotate(100.8deg);
    transform: rotate(100.8deg); }
  .c100.p29 .pie-bar {
    -webkit-transform: rotate(104.4deg);
    -moz-transform: rotate(104.4deg);
    -ms-transform: rotate(104.4deg);
    -o-transform: rotate(104.4deg);
    transform: rotate(104.4deg); }
  .c100.p30 .pie-bar {
    -webkit-transform: rotate(108deg);
    -moz-transform: rotate(108deg);
    -ms-transform: rotate(108deg);
    -o-transform: rotate(108deg);
    transform: rotate(108deg); }
  .c100.p31 .pie-bar {
    -webkit-transform: rotate(111.6deg);
    -moz-transform: rotate(111.6deg);
    -ms-transform: rotate(111.6deg);
    -o-transform: rotate(111.6deg);
    transform: rotate(111.6deg); }
  .c100.p32 .pie-bar {
    -webkit-transform: rotate(115.2deg);
    -moz-transform: rotate(115.2deg);
    -ms-transform: rotate(115.2deg);
    -o-transform: rotate(115.2deg);
    transform: rotate(115.2deg); }
  .c100.p33 .pie-bar {
    -webkit-transform: rotate(118.8deg);
    -moz-transform: rotate(118.8deg);
    -ms-transform: rotate(118.8deg);
    -o-transform: rotate(118.8deg);
    transform: rotate(118.8deg); }
  .c100.p34 .pie-bar {
    -webkit-transform: rotate(122.4deg);
    -moz-transform: rotate(122.4deg);
    -ms-transform: rotate(122.4deg);
    -o-transform: rotate(122.4deg);
    transform: rotate(122.4deg); }
  .c100.p35 .pie-bar {
    -webkit-transform: rotate(126deg);
    -moz-transform: rotate(126deg);
    -ms-transform: rotate(126deg);
    -o-transform: rotate(126deg);
    transform: rotate(126deg); }
  .c100.p36 .pie-bar {
    -webkit-transform: rotate(129.6deg);
    -moz-transform: rotate(129.6deg);
    -ms-transform: rotate(129.6deg);
    -o-transform: rotate(129.6deg);
    transform: rotate(129.6deg); }
  .c100.p37 .pie-bar {
    -webkit-transform: rotate(133.2deg);
    -moz-transform: rotate(133.2deg);
    -ms-transform: rotate(133.2deg);
    -o-transform: rotate(133.2deg);
    transform: rotate(133.2deg); }
  .c100.p38 .pie-bar {
    -webkit-transform: rotate(136.8deg);
    -moz-transform: rotate(136.8deg);
    -ms-transform: rotate(136.8deg);
    -o-transform: rotate(136.8deg);
    transform: rotate(136.8deg); }
  .c100.p39 .pie-bar {
    -webkit-transform: rotate(140.4deg);
    -moz-transform: rotate(140.4deg);
    -ms-transform: rotate(140.4deg);
    -o-transform: rotate(140.4deg);
    transform: rotate(140.4deg); }
  .c100.p40 .pie-bar {
    -webkit-transform: rotate(144deg);
    -moz-transform: rotate(144deg);
    -ms-transform: rotate(144deg);
    -o-transform: rotate(144deg);
    transform: rotate(144deg); }
  .c100.p41 .pie-bar {
    -webkit-transform: rotate(147.6deg);
    -moz-transform: rotate(147.6deg);
    -ms-transform: rotate(147.6deg);
    -o-transform: rotate(147.6deg);
    transform: rotate(147.6deg); }
  .c100.p42 .pie-bar {
    -webkit-transform: rotate(151.2deg);
    -moz-transform: rotate(151.2deg);
    -ms-transform: rotate(151.2deg);
    -o-transform: rotate(151.2deg);
    transform: rotate(151.2deg); }
  .c100.p43 .pie-bar {
    -webkit-transform: rotate(154.8deg);
    -moz-transform: rotate(154.8deg);
    -ms-transform: rotate(154.8deg);
    -o-transform: rotate(154.8deg);
    transform: rotate(154.8deg); }
  .c100.p44 .pie-bar {
    -webkit-transform: rotate(158.4deg);
    -moz-transform: rotate(158.4deg);
    -ms-transform: rotate(158.4deg);
    -o-transform: rotate(158.4deg);
    transform: rotate(158.4deg); }
  .c100.p45 .pie-bar {
    -webkit-transform: rotate(162deg);
    -moz-transform: rotate(162deg);
    -ms-transform: rotate(162deg);
    -o-transform: rotate(162deg);
    transform: rotate(162deg); }
  .c100.p46 .pie-bar {
    -webkit-transform: rotate(165.6deg);
    -moz-transform: rotate(165.6deg);
    -ms-transform: rotate(165.6deg);
    -o-transform: rotate(165.6deg);
    transform: rotate(165.6deg); }
  .c100.p47 .pie-bar {
    -webkit-transform: rotate(169.2deg);
    -moz-transform: rotate(169.2deg);
    -ms-transform: rotate(169.2deg);
    -o-transform: rotate(169.2deg);
    transform: rotate(169.2deg); }
  .c100.p48 .pie-bar {
    -webkit-transform: rotate(172.8deg);
    -moz-transform: rotate(172.8deg);
    -ms-transform: rotate(172.8deg);
    -o-transform: rotate(172.8deg);
    transform: rotate(172.8deg); }
  .c100.p49 .pie-bar {
    -webkit-transform: rotate(176.4deg);
    -moz-transform: rotate(176.4deg);
    -ms-transform: rotate(176.4deg);
    -o-transform: rotate(176.4deg);
    transform: rotate(176.4deg); }
  .c100.p50 .pie-bar {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  .c100.p51 .pie-bar {
    -webkit-transform: rotate(183.6deg);
    -moz-transform: rotate(183.6deg);
    -ms-transform: rotate(183.6deg);
    -o-transform: rotate(183.6deg);
    transform: rotate(183.6deg); }
  .c100.p52 .pie-bar {
    -webkit-transform: rotate(187.2deg);
    -moz-transform: rotate(187.2deg);
    -ms-transform: rotate(187.2deg);
    -o-transform: rotate(187.2deg);
    transform: rotate(187.2deg); }
  .c100.p53 .pie-bar {
    -webkit-transform: rotate(190.8deg);
    -moz-transform: rotate(190.8deg);
    -ms-transform: rotate(190.8deg);
    -o-transform: rotate(190.8deg);
    transform: rotate(190.8deg); }
  .c100.p54 .pie-bar {
    -webkit-transform: rotate(194.4deg);
    -moz-transform: rotate(194.4deg);
    -ms-transform: rotate(194.4deg);
    -o-transform: rotate(194.4deg);
    transform: rotate(194.4deg); }
  .c100.p55 .pie-bar {
    -webkit-transform: rotate(198deg);
    -moz-transform: rotate(198deg);
    -ms-transform: rotate(198deg);
    -o-transform: rotate(198deg);
    transform: rotate(198deg); }
  .c100.p56 .pie-bar {
    -webkit-transform: rotate(201.6deg);
    -moz-transform: rotate(201.6deg);
    -ms-transform: rotate(201.6deg);
    -o-transform: rotate(201.6deg);
    transform: rotate(201.6deg); }
  .c100.p57 .pie-bar {
    -webkit-transform: rotate(205.2deg);
    -moz-transform: rotate(205.2deg);
    -ms-transform: rotate(205.2deg);
    -o-transform: rotate(205.2deg);
    transform: rotate(205.2deg); }
  .c100.p58 .pie-bar {
    -webkit-transform: rotate(208.8deg);
    -moz-transform: rotate(208.8deg);
    -ms-transform: rotate(208.8deg);
    -o-transform: rotate(208.8deg);
    transform: rotate(208.8deg); }
  .c100.p59 .pie-bar {
    -webkit-transform: rotate(212.4deg);
    -moz-transform: rotate(212.4deg);
    -ms-transform: rotate(212.4deg);
    -o-transform: rotate(212.4deg);
    transform: rotate(212.4deg); }
  .c100.p60 .pie-bar {
    -webkit-transform: rotate(216deg);
    -moz-transform: rotate(216deg);
    -ms-transform: rotate(216deg);
    -o-transform: rotate(216deg);
    transform: rotate(216deg); }
  .c100.p61 .pie-bar {
    -webkit-transform: rotate(219.6deg);
    -moz-transform: rotate(219.6deg);
    -ms-transform: rotate(219.6deg);
    -o-transform: rotate(219.6deg);
    transform: rotate(219.6deg); }
  .c100.p62 .pie-bar {
    -webkit-transform: rotate(223.2deg);
    -moz-transform: rotate(223.2deg);
    -ms-transform: rotate(223.2deg);
    -o-transform: rotate(223.2deg);
    transform: rotate(223.2deg); }
  .c100.p63 .pie-bar {
    -webkit-transform: rotate(226.8deg);
    -moz-transform: rotate(226.8deg);
    -ms-transform: rotate(226.8deg);
    -o-transform: rotate(226.8deg);
    transform: rotate(226.8deg); }
  .c100.p64 .pie-bar {
    -webkit-transform: rotate(230.4deg);
    -moz-transform: rotate(230.4deg);
    -ms-transform: rotate(230.4deg);
    -o-transform: rotate(230.4deg);
    transform: rotate(230.4deg); }
  .c100.p65 .pie-bar {
    -webkit-transform: rotate(234deg);
    -moz-transform: rotate(234deg);
    -ms-transform: rotate(234deg);
    -o-transform: rotate(234deg);
    transform: rotate(234deg); }
  .c100.p66 .pie-bar {
    -webkit-transform: rotate(237.6deg);
    -moz-transform: rotate(237.6deg);
    -ms-transform: rotate(237.6deg);
    -o-transform: rotate(237.6deg);
    transform: rotate(237.6deg); }
  .c100.p67 .pie-bar {
    -webkit-transform: rotate(241.2deg);
    -moz-transform: rotate(241.2deg);
    -ms-transform: rotate(241.2deg);
    -o-transform: rotate(241.2deg);
    transform: rotate(241.2deg); }
  .c100.p68 .pie-bar {
    -webkit-transform: rotate(244.8deg);
    -moz-transform: rotate(244.8deg);
    -ms-transform: rotate(244.8deg);
    -o-transform: rotate(244.8deg);
    transform: rotate(244.8deg); }
  .c100.p69 .pie-bar {
    -webkit-transform: rotate(248.4deg);
    -moz-transform: rotate(248.4deg);
    -ms-transform: rotate(248.4deg);
    -o-transform: rotate(248.4deg);
    transform: rotate(248.4deg); }
  .c100.p70 .pie-bar {
    -webkit-transform: rotate(252deg);
    -moz-transform: rotate(252deg);
    -ms-transform: rotate(252deg);
    -o-transform: rotate(252deg);
    transform: rotate(252deg); }
  .c100.p71 .pie-bar {
    -webkit-transform: rotate(255.6deg);
    -moz-transform: rotate(255.6deg);
    -ms-transform: rotate(255.6deg);
    -o-transform: rotate(255.6deg);
    transform: rotate(255.6deg); }
  .c100.p72 .pie-bar {
    -webkit-transform: rotate(259.2deg);
    -moz-transform: rotate(259.2deg);
    -ms-transform: rotate(259.2deg);
    -o-transform: rotate(259.2deg);
    transform: rotate(259.2deg); }
  .c100.p73 .pie-bar {
    -webkit-transform: rotate(262.8deg);
    -moz-transform: rotate(262.8deg);
    -ms-transform: rotate(262.8deg);
    -o-transform: rotate(262.8deg);
    transform: rotate(262.8deg); }
  .c100.p74 .pie-bar {
    -webkit-transform: rotate(266.4deg);
    -moz-transform: rotate(266.4deg);
    -ms-transform: rotate(266.4deg);
    -o-transform: rotate(266.4deg);
    transform: rotate(266.4deg); }
  .c100.p75 .pie-bar {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); }
  .c100.p76 .pie-bar {
    -webkit-transform: rotate(273.6deg);
    -moz-transform: rotate(273.6deg);
    -ms-transform: rotate(273.6deg);
    -o-transform: rotate(273.6deg);
    transform: rotate(273.6deg); }
  .c100.p77 .pie-bar {
    -webkit-transform: rotate(277.2deg);
    -moz-transform: rotate(277.2deg);
    -ms-transform: rotate(277.2deg);
    -o-transform: rotate(277.2deg);
    transform: rotate(277.2deg); }
  .c100.p78 .pie-bar {
    -webkit-transform: rotate(280.8deg);
    -moz-transform: rotate(280.8deg);
    -ms-transform: rotate(280.8deg);
    -o-transform: rotate(280.8deg);
    transform: rotate(280.8deg); }
  .c100.p79 .pie-bar {
    -webkit-transform: rotate(284.4deg);
    -moz-transform: rotate(284.4deg);
    -ms-transform: rotate(284.4deg);
    -o-transform: rotate(284.4deg);
    transform: rotate(284.4deg); }
  .c100.p80 .pie-bar {
    -webkit-transform: rotate(288deg);
    -moz-transform: rotate(288deg);
    -ms-transform: rotate(288deg);
    -o-transform: rotate(288deg);
    transform: rotate(288deg); }
  .c100.p81 .pie-bar {
    -webkit-transform: rotate(291.6deg);
    -moz-transform: rotate(291.6deg);
    -ms-transform: rotate(291.6deg);
    -o-transform: rotate(291.6deg);
    transform: rotate(291.6deg); }
  .c100.p82 .pie-bar {
    -webkit-transform: rotate(295.2deg);
    -moz-transform: rotate(295.2deg);
    -ms-transform: rotate(295.2deg);
    -o-transform: rotate(295.2deg);
    transform: rotate(295.2deg); }
  .c100.p83 .pie-bar {
    -webkit-transform: rotate(298.8deg);
    -moz-transform: rotate(298.8deg);
    -ms-transform: rotate(298.8deg);
    -o-transform: rotate(298.8deg);
    transform: rotate(298.8deg); }
  .c100.p84 .pie-bar {
    -webkit-transform: rotate(302.4deg);
    -moz-transform: rotate(302.4deg);
    -ms-transform: rotate(302.4deg);
    -o-transform: rotate(302.4deg);
    transform: rotate(302.4deg); }
  .c100.p85 .pie-bar {
    -webkit-transform: rotate(306deg);
    -moz-transform: rotate(306deg);
    -ms-transform: rotate(306deg);
    -o-transform: rotate(306deg);
    transform: rotate(306deg); }
  .c100.p86 .pie-bar {
    -webkit-transform: rotate(309.6deg);
    -moz-transform: rotate(309.6deg);
    -ms-transform: rotate(309.6deg);
    -o-transform: rotate(309.6deg);
    transform: rotate(309.6deg); }
  .c100.p87 .pie-bar {
    -webkit-transform: rotate(313.2deg);
    -moz-transform: rotate(313.2deg);
    -ms-transform: rotate(313.2deg);
    -o-transform: rotate(313.2deg);
    transform: rotate(313.2deg); }
  .c100.p88 .pie-bar {
    -webkit-transform: rotate(316.8deg);
    -moz-transform: rotate(316.8deg);
    -ms-transform: rotate(316.8deg);
    -o-transform: rotate(316.8deg);
    transform: rotate(316.8deg); }
  .c100.p89 .pie-bar {
    -webkit-transform: rotate(320.4deg);
    -moz-transform: rotate(320.4deg);
    -ms-transform: rotate(320.4deg);
    -o-transform: rotate(320.4deg);
    transform: rotate(320.4deg); }
  .c100.p90 .pie-bar {
    -webkit-transform: rotate(324deg);
    -moz-transform: rotate(324deg);
    -ms-transform: rotate(324deg);
    -o-transform: rotate(324deg);
    transform: rotate(324deg); }
  .c100.p91 .pie-bar {
    -webkit-transform: rotate(327.6deg);
    -moz-transform: rotate(327.6deg);
    -ms-transform: rotate(327.6deg);
    -o-transform: rotate(327.6deg);
    transform: rotate(327.6deg); }
  .c100.p92 .pie-bar {
    -webkit-transform: rotate(331.2deg);
    -moz-transform: rotate(331.2deg);
    -ms-transform: rotate(331.2deg);
    -o-transform: rotate(331.2deg);
    transform: rotate(331.2deg); }
  .c100.p93 .pie-bar {
    -webkit-transform: rotate(334.8deg);
    -moz-transform: rotate(334.8deg);
    -ms-transform: rotate(334.8deg);
    -o-transform: rotate(334.8deg);
    transform: rotate(334.8deg); }
  .c100.p94 .pie-bar {
    -webkit-transform: rotate(338.4deg);
    -moz-transform: rotate(338.4deg);
    -ms-transform: rotate(338.4deg);
    -o-transform: rotate(338.4deg);
    transform: rotate(338.4deg); }
  .c100.p95 .pie-bar {
    -webkit-transform: rotate(342deg);
    -moz-transform: rotate(342deg);
    -ms-transform: rotate(342deg);
    -o-transform: rotate(342deg);
    transform: rotate(342deg); }
  .c100.p96 .pie-bar {
    -webkit-transform: rotate(345.6deg);
    -moz-transform: rotate(345.6deg);
    -ms-transform: rotate(345.6deg);
    -o-transform: rotate(345.6deg);
    transform: rotate(345.6deg); }
  .c100.p97 .pie-bar {
    -webkit-transform: rotate(349.2deg);
    -moz-transform: rotate(349.2deg);
    -ms-transform: rotate(349.2deg);
    -o-transform: rotate(349.2deg);
    transform: rotate(349.2deg); }
  .c100.p98 .pie-bar {
    -webkit-transform: rotate(352.8deg);
    -moz-transform: rotate(352.8deg);
    -ms-transform: rotate(352.8deg);
    -o-transform: rotate(352.8deg);
    transform: rotate(352.8deg); }
  .c100.p99 .pie-bar {
    -webkit-transform: rotate(356.4deg);
    -moz-transform: rotate(356.4deg);
    -ms-transform: rotate(356.4deg);
    -o-transform: rotate(356.4deg);
    transform: rotate(356.4deg); }
  .c100.p100 .pie-bar {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  .c100:hover {
    cursor: default; }
    .c100:hover .pie-label {
      width: 3.33em;
      line-height: 3.33em;
      font-size: 0.3em;
      color: #307bbb; }
    .c100:hover:after {
      top: 0.04em;
      left: 0.04em;
      width: 0.92em;
      height: 0.92em; }
  .c100.dark {
    background-color: #777777; }
    .c100.dark .pie-bar,
    .c100.dark .pie-fill {
      border-color: #c6ff00 !important; }
    .c100.dark .pie-label {
      color: #777777; }
    .c100.dark:after {
      background-color: #666666; }
    .c100.dark:hover .pie-label {
      color: #c6ff00; }
  .c100.green .pie-bar, .c100.green .pie-fill {
    border-color: #4db53c !important; }
  .c100.green:hover .pie-label {
    color: #4db53c; }
  .c100.green.dark .pie-bar, .c100.green.dark .pie-fill {
    border-color: #5fd400 !important; }
  .c100.green.dark:hover .pie-label {
    color: #5fd400; }
  .c100.orange .pie-bar, .c100.orange .pie-fill {
    border-color: #dd9d22 !important; }
  .c100.orange:hover .pie-label {
    color: #dd9d22; }
  .c100.orange.dark .pie-bar, .c100.orange.dark .pie-fill {
    border-color: #e08833 !important; }
  .c100.orange.dark:hover .pie-label {
    color: #e08833; }
  .c100.purple .pie-bar, .c100.purple .pie-fill {
    border-color: #462069 !important; }
  .c100.purple:hover .pie-label {
    color: #53267d; }
