// HELPER - COLOUR

// Core design/ brand colours are defined here
// Default Link Colours are also defined here


$purple: 				#462069;
$blue:					#0c96dd;
$blue_dark_tint: 		#08699c;
$dark_blue: 			#2f3c53;
$light_gray: 			#cfdcdf;
$lighter_gray: 			#e8eff2;
$dark_gray: 			#666;
$gray_border: 			#c2cacd;
$green:					#009651;

// Links / Anchors

$link: 					$blue;
$link_hover: 			darken($blue,5%);
$link_visited: 			$blue;

// Element Colours / Gradients

$text_colour:			#3e3e3e;
$heading_colour: 		$dark_blue;
$page_bg: 				$light_gray;
$nav_bg: 				$blue;
$nav_active: 			$purple;
$nav_active_hover: 		darken($blue, 5%);
$footer_bg: 			$dark_blue;
$content_header_bg: 	$lighter_gray;

$gradient_blue: 		linear-gradient($blue, $blue_dark_tint);
$gradient_purple:		linear-gradient(lighten($purple,5%),$purple);
$gradient_blue_hover: 	linear-gradient(lighten($blue,5%), lighten($blue_dark_tint,5%));
$gradient_blue_active: 	linear-gradient($blue_dark_tint, $blue);
$gradient_green:		linear-gradient($green,darken($green,10%));
$gradient_green_hover:	linear-gradient(lighten($green,5%),darken($green,5%));
$gradient_gray: 		linear-gradient(darken(#ccc,10%) #ccc );
$gradient_dark_gray: 	linear-gradient(darken($dark_gray,15%) $dark_gray );