// HELPER - CONFIG
// Document and Grid setup
// Font default declarations

// Base Units
$base_unit: 0.625rem;	//same as desktop font base
$unit:		1.5rem;

// Grid settings (SUSY)
// Susy vars don't follow underscore rules 

//$total-columns: 	6;  
$column-width: 		60%;  
$gutter-width: 		20%;  
$grid-padding: 		0;

//Column
$columns_desktop:	12;

// Font Stack
$heading_font: 		Arial, Helvetica, "Lucida Grande", sans-serif;
$body_font: 		Arial, Helvetica, "Lucida Grande", sans-serif;

// Base Type sizes for (The key to everything!)

$desktop_font_base: 	100%; 	//16px
// Typographic units

$paragraph_size:	1rem; 
$h1_size:			3rem;  
$h2_size:			1.375rem;  
$h3_size:			1.125rem;  
$h4_size:			1rem;  

// Box sizing
$border_box: 		true;

//border radius
$border_radius: 	4px;