// MIXINS
// 
// All global Mixins go here

// Clearfix
// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix() {
	*zoom:1;
	&:before, &:after {
	    content:"";
	    display:table;
	}
	&:after { clear:both; }
}

