/* -- _BLOG.SCSS -- */

/*
 * All blog/news styles go here
 * Archives and single article styles
 */

	.article-date{
		text-align: center;
	}

// article meta, date, author

.article-meta{
	@include container();
	font-family: $heading_font;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
}

	.article-meta__time{
		display: inline;
		line-height: $unit*2;
	}
	.article-meta__author {
		line-height: $unit*2;
	}
