/* -- _EXAMINATION.SCSS -- */

/*
 * Styles for specific examination elements
 * 
*/

.exam-form{
	th{ font-size: 1.3rem; background: $purple;}
	td,th{ padding: 10px 20px; }
	tbody tr{ background: white;}
	label{ margin-bottom: 0; }
}
	.single-exam{
		border-collapse: collapse;
		border: none;
	}
		.truefalse{	text-align: right; }

		.exam-topic{ @extend h3; }
		.question-row{
			border: 1px solid #eee;
			border-left: 0;
			border-right: 0;
			&:hover{
				background: lighten($blue,50%);
			}
		}
		.question { } 
		.answer input{
			visibility: hidden;
			position: absolute;
			right:0;
		}
			.answer-radio{
				display: inline;
				float: right;
				cursor: pointer;

				@include border-radius(5px);
				//border: 1px solid #ccc;
				background: url('images/exam-check.png');
				background-repeat: no-repeat;
				display: block;
				width: 30px;
				height: 30px;
			}
			.answer-true{
				background: url('images/exam-check.png') lighten(#2dc16c,45%) top left no-repeat;
			}
			.answer-false{
				background: url('images/exam-check.png') lighten(#ff4f55,30%) top right no-repeat;
			}
			.check-true:checked + .answer-true{
				background-color: #2dc16c;
			}

			
			.check-false:checked + .answer-false{
				background-color: #ff4f55;
			}


.exam-link{
	padding: 0 20px;
	width: 100%;
	form input, p{ font-size: 1.6rem; }
	form input:hover{ cursor: pointer; }
	
	.active-exam{
		background: $purple;
		width: 100%;
		color: white;
		line-height:  3rem;
		&:hover{ background: lighten($purple,5%); }
		&:visited, &:active{
			color: white;
		}
	}
	.inactive-exam{
		padding-left: 20px;
		text-align: center;
		background: lighten(gray,40%);
		width: 100%;
		color: $purple;
		line-height:  3rem;
		&:visited, &:active{
			color: $purple;
		}
	}
	
}

.score{
	@include clearfix();
	h3{
		font-size: 2rem !important;
		font-weight: bold;
		line-height: 3rem;
	}
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin-bottom: $unit;
	padding: $unit*2 $unit;
	background: #eee;
}
	.score__questions{}
	.score__result{
		margin-top: 10%;
		p{
			font-size: 1.2rem;
			line-height: 2rem;
		}
	}
		.score__answers{
			display: block;
			margin-bottom: $unit;
		}
	.score__percent{
		p{ margin-bottom: $unit; text-align: center; }
		@include span-columns(5,12);
		@include clearfix();
	}
		.pie-wrapper{
			padding-left: $unit;
			@include clearfix();
		}
		.pie-percent{
			vertical-align: top;
			vertical-baseline: top !important;
			font-size: 1.2rem;
		}
		.percent-needed{
			color:darken(#ccc,10%);
			line-height: 2rem;
			width: 100%;
			font-weight: 200;
			text-align: center;
		}

	.retake-exam{
		float: right;
	}

.completed-exam:before{
	content: "\2713 - ";
}



// CIRCLES
// VARS
$circle-width: 0.08em;
$circle-width-hover: 0.04em;

// colors default
$primary-color: #307bbb;
$secondary-color: #ccc;
$bg-color: #f5f5f5;

$primary-color-green: #4db53c;
$primary-color-orange: #dd9d22;


// colors dark skin
$primary-color-dark: #c6ff00;
$secondary-color-dark: #777;
$bg-color-dark: #666;

$primary-color-green-dark: #5fd400;
$primary-color-orange-dark: #e08833;

.rect-auto{
	clip: rect(auto, auto, auto, auto);
}

.pie {
	position: absolute;
	border: $circle-width solid $primary-color;
	width: 1 - (2 * $circle-width);
	height: 1 - (2 * $circle-width);
	clip: rect(0em, 0.5em, 1em, 0em);
	border-radius: 50%;
	@include rotate(0deg);
}

.pie-pie-fill {
	@include rotate(180deg);
}



// main
.c100 {

	*, *:before, *:after {
		@include box-sizing(content-box);
	}

	position: relative;
	font-size: 120px;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	float: left;
	margin: 0 0.1em 0.1em 0;
	background-color: $secondary-color;

	// center circle to its parent
	&.center{
		float: none;
		margin: 0 auto;
	}

	// bigger size
	&.big{
		font-size: 240px;
	}

	// smaller size
	&.small{
		font-size: 80px;
	}

	// centered value inside circle
	.pie-label {
		position: absolute;
		width: 100%;
		z-index: 1;
		left: 0;
		top: 0;
		width: 5em;
		line-height: 5em;
		font-size: 0.2em;
		display: block;
		text-align: center;
		white-space: nowrap;
		@include transition-property(all);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-out);
	}

	// background inside the circle
	&:after{
		position: absolute;
		top: $circle-width;
		left: $circle-width;
		display: block;
		content: " ";
		border-radius: 50%;
		background-color: $bg-color;
		width: 1 - (2 * $circle-width);
		height: 1 - (2 * $circle-width);
		@include transition-property(all);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in);

	}

	// the slice (mask)
	.slice {
		position: absolute;
		width: 1em;
		height: 1em;
		clip: rect(0em, 1em, 1em, 0.5em);
	}

	// circle to show the status
	.pie-bar {
		@extend .pie;
	}


	// loop to create all needed elements automatically
	@for $j from 51 through 100 {

		&.p#{$j} .slice {
			@extend .rect-auto;
		}

		&.p#{$j} .pie-bar:after{
			@extend .pie-pie-fill;
		}

		&.p#{$j} .pie-fill{
			@extend .pie;
			@extend .pie-pie-fill;
		}

	}

	// loop to rotate all 100 circles
	@for $j from 1 through 100 {
		&.p#{$j} .pie-bar {
			@include rotate((360/100*$j) + deg);
		}
	}



	// hover styles
	&:hover{

		cursor: default;

		.pie-label {
			width: 3.33em;
			line-height: 3.33em;
			font-size: 0.3em;
			color: $primary-color;
		}

		&:after{
			top: $circle-width-hover;
			left: $circle-width-hover;
			width: 1 - (2 * $circle-width-hover);
			height: 1 - (2 * $circle-width-hover);
		}

	}


	// override colors for the dark skin
	&.dark {

		background-color: $secondary-color-dark;

		.pie-bar,
		.pie-fill{
			border-color: $primary-color-dark !important;
		}

		.pie-label {
			color: $secondary-color-dark;
		}


		&:after{
			background-color: $bg-color-dark;
		}

		&:hover{

			.pie-label {
				color: $primary-color-dark;
			}

		}

	}


	// green skin
	&.green{

		.pie-bar, .pie-fill { border-color: $primary-color-green !important;}

		&:hover{
			.pie-label { color: $primary-color-green;}
		}

	}

		&.green.dark{

			.pie-bar, .pie-fill { border-color: $primary-color-green-dark !important;}

			&:hover{
				.pie-label { color: $primary-color-green-dark;}
			}

		}


	// orange skin
	&.orange{

		.pie-bar, .pie-fill { border-color: $primary-color-orange !important;}

		&:hover{
			.pie-label { color: $primary-color-orange;}
		}

	}

		&.orange.dark{

			.pie-bar, .pie-fill { border-color: $primary-color-orange-dark !important;}

			&:hover{
				.pie-label { color: $primary-color-orange-dark;}
			}

		}

	&.purple{

		.pie-bar, .pie-fill { border-color: $purple !important;}
		&:hover{
			.pie-label { color: lighten($purple,5%);}
		}

	}

}
	