/* -- _FOOTER.SCSS -- */

/*
 * Footer Styles go here
 */

.site-footer{
	//padding-top: $unit;
	color: #fff;
	margin: 0 0 $unit 0;

	.wrapper{
		background: $dark_blue;
		@include border-radius($border-radius);
		padding: 0 $unit;
	}
}


	.footer-nav__menu{
		margin: 0;
		li{
			float: left;
			list-style: none;
			margin: 0 $unit 0 0;
			line-height: $unit*2;
		}
	}
