/* -- _GLOBAL.SCSS -- */

/*
 * Document and Grid setup
 * Font default declarations
 */

// If $border-box is true then use box sizing border box
@if($border_box == true){
	*{ @include box-sizing(border-box); }
}

.clear{
	@include clearfix();
}

// Responsive Images

img{ max-width: 100%; }  

// html/body

html { 
	font-size: $desktop_font_base;
	line-height: $unit;
}

body {
	background: $page_bg;
	color: $text_colour;
	font-family: $body_font;
	-webkit-font-smoothing: antialiased;
	@include clearfix();
}

// width with defined width (not 100% of page)

.wrapper {
	//@include container($total-columns, $tablet, $desktop);
	width: 1000px; 
	margin: 0 auto; 
	@include clearfix();
}