/* -- _HEADER.SCSS -- */

/*
 * Header specific declarations
 * Note: navigation has its own document _navigation.scss
 */


.site-header{}

	.site-header__logo{
		display: block;
		height: $unit*5;
		margin: $unit 0;
		@include span-columns(3, 12); 

		img{
			display: block;
		}
	}

	.site-header__search{
		float: right; 
		@include span-columns(4 omega, 12); 
		@include push(5);
		margin: $unit*4 0 $unit 0; 
	}

		.site-header__search .search-input{
			height: $unit*2;
			@include border-left-radius($border_radius);
			border: 0;
			padding: 0 $unit;
			font-size: 0.875rem;
			font-family: $body_font;
			margin: 0;
			width: 75%;
		}

		.site-header__search .search-button{
			height: $unit*2;
			@include border-right-radius($border_radius);
			@include border-left-radius(0);
			margin: 0;
			width: 25%;
		}

.breadcrumbs{
	line-height: $unit*2;
	height: $unit*2;

	a{
		font-weight: bold;
	}
}

.breadcrumbs--home{
	height: $unit;
}