/* -- _HOME.SCSS -- */

/*
 * Homepage Specific Styles
 */

.slider{
	@include span-columns(8,12);
	height: $unit*15;
	margin-bottom: $unit;
	position: relative;
	@include border-radius($border_radius);
}
	
	.slider__image{
		@include border-radius($border_radius);
	}

	.slider__caption{
		background: rgba(32,40,46,0.7);
		@include clearfix();
		position: absolute;
		bottom: 0;
		padding: $unit;
		@include border-radius(0 0 $border_radius $border_radius);
	}

		.slider__caption__text{
			width: 70%;
			margin: 0 5% 0 0;
			float: left;
			color: #fff;
			font-weight: 700;
		}

		.slider__caption__button{
			width: 25%;
			float: right;
		}

.news-home{
	@include span-columns(4 omega,12);
	height: $unit*15;
	p{
		font-size: 0.85rem;
		margin:0;
	}
}

	.news-snippet{
		margin-bottom: $unit;
	}