/* -- _NAVIGATION.SCSS -- */

/*
 * All nav menu styles go here
 * Currently the Dropdown only supports 1 level
 * This can be extended by using the class .parent-x (where x is the depth).
 */

// Primary nav container
.primary-nav{   
    display: none;
    height: $unit*2;
	display: block;
	background: $blue;
	@include border-radius($border_radius);
	@include background-image($gradient_blue);
}

	// the first ul
	.primary-nav__menu{
        list-style: none;
        @include clearfix();
        font-family: $heading_font;
        margin: 0 auto;
    }
	
	// menu item
	.primary-nav__menu > .menu-item{ 
		float: left; 
		margin: 0 $unit/4;
		display: inline;
	}
	
	// menu item link (block level element with padding + margin applied)
	.primary-nav__menu > .menu-item > a{
		font-size: 1rem;
    	display: block;
    	color: #fff;
    	padding: 0 $base_unit*2;
    	font-weight: 700;
    	line-height: $unit*1.6;
    	margin-top: $unit*0.4;
    	height: $unit*1.6;
}
	
	//menu item hover
    .primary-nav__menu > .menu-item:hover{
		
		> a,
		> a:visited{
			background: $nav_bg; 
			@include border-top-radius($border_radius);
			color: #fff;
		}
    }

	// the active page
    .primary-nav__menu > .current-menu-item a,
    .primary-nav__menu > .current-menu-item a:visited,
    .primary-nav__menu > .current-menu-ancestor a,
    .primary-nav__menu > .current-menu-ancestor a:visited,
    .primary-nav__menu > .current-post-parent a,
	.primary-nav__menu > .current-post-parent a:visited{
        background: $nav_bg; 
		@include border-top-radius($border_radius);
		color: #fff;
    }

	// DELETE BELOW IF IT IS A SINGLE TIER MENU

	// Dropdown Parent Style

    .primary-nav__menu .parent{
    	position: relative;	
    }
		//sub menu
		.primary-nav__menu .parent > .sub-menu{
            display: none; 
            list-style: none;
            margin: 0;
            text-align: left;
    	}
		
		// hover state stuff
    	.primary-nav__menu .parent:hover > .sub-menu{
	        display: block;
	        z-index: 100;
	        width: 300px;
	    } 

		// Styling for sub-menu items

		.primary-nav__menu .sub-menu{
			position: absolute;	
			background: $nav_bg;
			@include border-bottom-radius($border_radius);
		}

			.primary-nav__menu .sub-menu .menu-item{
				margin: 0;
			}

			.primary-nav__menu .sub-menu .menu-item a, 
			.primary-nav__menu .sub-menu .menu-item a:visited{
				display: block;
		    	color: #fff;
		    	padding: 0 $base_unit*2;
		    	font-size: 1rem;
		    	font-weight: 700;
		    	line-height: $unit*2;

				&:hover{ 
					background: $nav_active_hover;
					margin:0;
					color: #fff;
				}
			}

			.primary-nav__menu .sub-menu > .current-menu-item a,
			.primary-nav__menu .sub-menu > .current-menu-item a:visited,
		    .primary-nav__menu .sub-menu > .current-menu-ancestor a,
		    .primary-nav__menu .sub-menu > .current-menu-ancestor a:visited,{
		        color: #fff;
		        background: $nav_active_hover;
		        font-weight: bold;
		    }