/* -- _PAGE.SCSS -- */

/*
 * Styles for Wordpress Pages
 * Includes styles for for specific page templates
 */



// Container for the main content area and sidebar
.content{
	@include clearfix();
	@include border-radius($border_radius);
	background: #fff;
	margin-bottom: $unit;
	border: 1px solid $gray_border;
}

	.content__heading{
		background: $content_header_bg;
		@include border-radius($border_radius $border_radius 0 0);
		padding: 0 $unit;
		
		h1,h2,h3{
			line-height: $unit*2;
		}
		
	}

	.content__heading--multiline{

		padding: $unit;

		h1,h2,h3{
			line-height: $unit*1;
			margin: 0;
		}
	}

	.content__main{
		p{ font-size: 0.85rem; }
		padding: 0 $unit;
		@include clearfix();
	}

// Archive Styles

.content-archive, 
.content-single{
	@include span-columns(7,12);
}

.content-lesson{
	@include span-columns(10 omega, 12);
}

.content-taxonomy-archive{
	@include span-columns(10 omega,12);
}

.content-modules{
	@include span-columns(10 omega,12);
}

.main-article{}

.main-article__title{
	margin:0;
}

// Module button

.button--module{
	margin-bottom: $unit;
	@include span-columns(6,12);
	&:nth-child(2n){
		@include span-columns(6 omega,12);
	}
}

.button--top-module{	
	margin-bottom: $unit;
}

//accordion content

.accordion__header{
	&:focus{
		outline: none;
	}

	cursor: pointer;
	@include clearfix();
}

	.accordion__title{
		display: block;
		@include span-columns(6,7);
	}

	.accordion__button-con{
		@include span-columns(1 omega,7);
	}
		.accordion__button-con .button{
			width: 28px;
			text-align: center;
			padding: 0;
			&:after{
				content:"+";
			}
		}
		.ui-accordion-header-active .button{
			width: 28px;
			text-align: center;
			padding: 0;
			&:after{
				content:"-";
			}
		}

//module button

.module-button{
	margin-bottom: $unit;
	border:1px solid lighten($dark_gray,25%);
	@include border-radius($border_radius +1);
}

	.module-button__title{
		background: $blue;
		@include background-image($gradient_blue);
		@include border-top-radius($border_radius);
		padding: 0 $unit;
		line-height: $unit*2;
		display: block;
		font-size: 1rem;
		font-family: $heading_font;
		font-weight: bold;
		text-align: center;
		color: #fff;
		border: 0;

		&:hover{
			background: lighten($blue, 5%);
			@include background-image($gradient_blue_hover);
			color: #fff;
		}

		&:active{
			background: $blue_dark_tint;
			@include background-image($gradient_blue_active);
			color: #fff;
		}

		&:visited{
			color: #fff;
		}
	}

	.module-button__stats{
		background: #ccc;
		@include background-image($gradient_gray);
		@include border-bottom-radius($border_radius);
		padding: 0 $unit/2;
		line-height: $unit;
		display: block;
		font-size: 0.75rem;
		font-family: $heading_font;
		font-weight: bold;
		color: #fff;
		
	}
		.module-button__section-count{

		}

		.module-button__completion{
			float:right;
			span{
				display:block;
				float: left;
			}

			.progress-meter{
				float: right;
				margin: 5px 0 0 10px;
			}
		}

	.read-article{
		background: $gradient_green;
		&:hover{
			background: $gradient_green_hover;
		}
	}

.webinar{
	margin-bottom: $unit;
}

/**
 * Template specific styling:-
 *
 * Orthopaedics
 */

.orth-cat{
	@include span-columns(12,12);
	@include clearfix();
}

	.orth-center{
		@include span-columns(12,12);
	}

	.orth-bottom{
		margin-top: $unit;
	}

.orth-subheading{
	padding: $base_unit;
	display: block;
	@include span-columns(12,12);
	@include clearfix();
}

/**
 * Expert Directory Page
 */

.expert-search{
	@include span-columns(12,12);
}
	// Divide divs into 3 columns
	.expert-search__box{
		@include span-columns(4, 12);
	}
	.expert-search__box--last{ @include span-columns(4 omega, 12); }

	// End divide

	.expert-search .search-input{
		padding-left: $unit/2;
	}

	.expert-search .search-button{
		padding: 0;
		height: $unit;
		line-height: $unit;
	}