/* -- SIDEBAR.SCSS -- */

/*
 * All sidebar(s) style here
 */

.sidebar, .sidebar-nav{
	
	//background: $lighter_gray;
	@include span-columns(3 omega,12);
	
	h2{
		@extend h4;
		margin-bottom: 0;
	}

	ul {
		li{
			list-style: none;
			font-size: 0.75rem;
		}
	}
}

// Sidebar help (left hand side buttons)

.sidebar-help{
	@include span-columns(2,12);
	
}
	//help button object
	.help-button{
		position: relative;
		margin-bottom: $unit;
		img{ @include border-radius($border-radius); }
		
		figcaption{ 
			background: $dark_blue;
			display: block;
			position: absolute;
			@include border-bottom-radius($border-radius);
			bottom: 0;
			left: 0;
			right: 0;
			color: #fff;
			p{
				font-weight: 700;
				padding: 5px;
				margin:0;
			}
		}
	}

//sub navigation sidebar

.section-sidebar{
	margin-left: 0;
}

.section-sidebar li{
	margin-bottom: 0;
}
