/* -- _TABLES.SCSS -- */

/*
 * All Font / Type styles go here
 */

table { 
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	margin-bottom: $unit;
	font-size: 1rem;

	br{
		display: none;
	}
}

	thead{
		background: $blue;
		color: #fff;
	}

	tbody tr:nth-child(odd) {background: #f1f1f1}
	tbody tr:nth-child(even) {background: #FFF}

	th,td{
		height: $unit;
		padding: 0 $base_unit;
	}

	th{
		font-weight: bold;
		height: $unit*2;
		font-family: $heading_font;
		font-size:1rem;
	}

.pmpro_checkout td{
	height: $unit*2;
}	

.pmpro_checkout .button{
	
}

