/* -- _TYPOGRAPHY.SCSS -- */

/*
 * All Font / Type styles go here
 */

a,
a:visited{
	color: $link;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color: $link_hover;
}

p,h1,h2,h3,h4,h4,h5,h6,ul,ol{
	line-height: $unit;
	//margin-bottom: $unit;
}

h1,h2,h3,h4,h5,h6{
	font-family: $heading_font;
	font-weight: bold;
	color: $heading_colour;
	line-height:$unit;
}

p{
	font-weight: normal;
	font-size: $paragraph_size;
	margin-bottom: $unit;
}

h1, .h1{ 
	font-size: $h1_size;
}

h2, .h2{ 
	font-size: $h2_size;
	margin-bottom: $unit;
}

h3, .h3{ 
	font-size: $h3_size;
	line-height: $unit;
	margin-bottom: $unit;
}

h4, .h4{ 
	font-size: $h4_size;
}


strong{ font-weight: bold; }

em{ font-style: italic; }

ul {	
	list-style-type: disc;
	font-size: 1rem;
	font-weight: normal;
	margin-left: 2 * $base_unit;
	margin-bottom: $unit;
	
	li{	
		span{ color: $text_colour;} //give the span and li differnt colours if you like
		color: $dark_blue;
		margin-bottom: $unit;
	}
}

ol {
	list-style-type: decimal;
	font-size: 1rem;
	font-weight: normal;
	margin-left: 2 * $base_unit;
	margin-bottom: $unit;
	
	li{
		span{ color: $text_colour; } //give the span and li differnt colours if you like
		margin-bottom: $unit;
	}
} 

blockquote {
	display:block;

	@include span-columns(3 omega,7);
	float: right;
	margin-left: gutter();
	margin-bottom: $unit;

	p{ 
		font-size: 1.2; 
		text-align: right; 
		line-height: $unit*1;
		font-style: italic;
		padding: 0 $base_unit;
		margin: 0;
	}
}
