/* -- UI -- */

/*
 * forms, buttons, icons, breadcrumbs, pagination
 */

// Forms

input:focus {
    outline:none;
}

fieldset{
	div{
		//margin-top: -0.24rem;
		@include clearfix();
	}
}

legend{
	@extend h2;
}

label {
	font-size: 1rem;
	line-height: $unit;
	margin-bottom: $unit;

	display: block;
	@include span-columns(2,8);
}

input[type="text"], input[type="password"]{
	border: 1px solid #ccc;
	height: $unit;
	margin-bottom: $unit;
	display: block;
}

textarea{
	border: 1px solid #ccc;
	line-height: $unit;
	height: $unit*4;
	margin-bottom: $unit;
	display: block;
	@include span-columns(4,8);
}

.input[type="radio"]{
	float: left;
}

// Buttons
	
.button, input[type="submit"] {
	background: $blue;
	@include background-image($gradient_blue);
	@include border-radius($border_radius);
	padding: 0 $unit;
	line-height: $unit*2;
	display: block;
	font-size: 1rem;
	font-family: $heading_font;
	font-weight: bold;
	text-align: center;
	color: #fff;
	border: 0;
	text-shadow: none;

	&:hover{
		background: lighten($blue, 5%);
		@include background-image($gradient_blue_hover);
		color: #fff;
	}

	&:active{
		background: $blue_dark_tint;
		@include background-image($gradient_blue_active);
		color: #fff;
	}

	&:visited{
		color: #fff;
	}
} 

input[type="submit"]{
	border: none;
	height: $unit*2;
	display: block;
	margin-bottom: $unit;
}
	
.button--small, {
	line-height: $unit;
	height: $unit;
	padding: 0 10px;
} 

.pmpro_btn{
	@extend .button;
	@extend .button--small;
}


input[type="submit"]{
	border: none;
	height: $unit*2;
	display: block;
}


// Search form

.search-form{
	@include clearfix();
}

	.search-input{
		@include span-columns(2,3);
	}

	.search-button{
		@include span-columns(1 omega,3);
		font-size: 1rem;
	}

// Slider

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

// Progress Bar

.progress-meter{
	background: $dark_gray;
	@include background-image($gradient_dark_gray);
	@include border-radius($border_radius + 2);
	width: $unit*3;
	height: 14px;
	padding: 2px;
}
	.progress-meter__bar{
		background: $blue;
		@include background-image($gradient_blue);
		height: 10px;
		@include border-radius($border_radius);
	}

