/* -- _WORDPRESS.SCSS -- */

/*
 * Styles for Wordpress Specific Classes
 * Required if the theme is to go on the wp.org repo
 */

.alignleft{
	float: none;
	margin: 0 0 20px 0;
	display: block;
	float: left;
}

.alignright{
	float: none;
	margin: 0 0 20px 0;
	display: block;
	float: right;
}

.wp-caption{
	background: red;
}

	.wp-caption-text{
		color: #fff;
	}

.sticky{
	font-weight: bold;
} 

.gallery-caption{
	background: red;
}

.bypostauthor{
	font-weight: bold;
}

.aligncenter{
	margin: 0 auto;
}
